.form-select__label {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.form-select__label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    background-color: #eee;
    border: 3px solid transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
/* .form-select__label:hover input ~ .checkmark {
    background-color: #ccc;
} */
.form-select__label input:checked ~ .checkmark {
    background-color: #fff;
    border: 3px solid #555;
    border-radius: 10px;
}
  